node_modules
elm-stuff
VerifyExamples
zombie
package-lock.json
compare-with-elm-format/examples
compare-with-elm-format/pre
compare-with-elm-format/post
elm.js
main.js
elmMain.js
dist
target
*.lock

testing.fs
Elm.fs
*.fs.rs
obj
fable_modules
bin

# still working on
social/announcement.md
example-raylib-droplet
example-language-server

# Editors
.idea/
ElmjutsuDumMyM0DuL3.elm
.vscode
.editorconfig

.fake